@tailwind base;
@tailwind components;
@tailwind utilities;


svg#freepik_stories-conversion-rate-optimization:not(.animated) .animable {
  opacity: 0;
}

svg#freepik_stories-conversion-rate-optimization.animated #freepik--background-complete--inject-4 {
  animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) slideLeft;
  animation-delay: 0s;
}

svg#freepik_stories-conversion-rate-optimization.animated #freepik--Floor--inject-4 {
  animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) slideLeft;
  animation-delay: 0s;
}

svg#freepik_stories-conversion-rate-optimization.animated #freepik--coins-2--inject-4 {
  animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) slideDown;
  animation-delay: 0s;
}

svg#freepik_stories-conversion-rate-optimization.animated #freepik--coins-1--inject-4 {
  animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) lightSpeedRight;
  animation-delay: 0s;
}

svg#freepik_stories-conversion-rate-optimization.animated #freepik--Device--inject-4 {
  animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) slideLeft;
  animation-delay: 0s;
}

svg#freepik_stories-conversion-rate-optimization.animated #freepik--Funnel--inject-4 {
  animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) fadeIn;
  animation-delay: 0s;
}

svg#freepik_stories-conversion-rate-optimization.animated #freepik--Character--inject-4 {
  animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) slideDown;
  animation-delay: 0s;
}

@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes lightSpeedRight {
  from {
    transform: translate3d(50%, 0, 0) skewX(-20deg);
    opacity: 0;
  }

  60% {
    transform: skewX(10deg);
    opacity: 1;
  }

  80% {
    transform: skewX(-2deg);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}